h1 {
    font-size: 25px;
    margin: 15px 10px 10px 10px;
    color: #259;
}

h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.example {
    margin: 10px;
    padding: 10px 0;
    border-top: 1px dashed #25E;
    display: block;
    clear: both;
}

label {
    float: left;
    width: 100px;
    clear: left;
}
input, select {
    float: left;
    width: 150px;
    margin-bottom: 3px;
}
input.submit, button, select {
    clear: both;
    width: 255px;   
    margin-bottom: 10px;
}
#save-discard {
    padding-top: 15px;
}
#save-discard button {
    width: 150px;
    height: 40px;
}
#filter-by-role {
    padding-bottom: 15px;
}
#filter-by-role input {
    width: 15px;
}
table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 10px;
}
th {
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
}
#info {
    width: 320px;
    background: #BFB;
    color: #555;
    border: 1px solid #DDD;
    padding: 5px 10px;
    margin: 10px 0;
    display: none;
}